* { box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; background: url('linedpaper.png');
    /*font-family: 'Handlee', cursive;*/
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}
#main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content {
    height: 480px;
    width: 640px;
    padding: 0 40px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow .3s cubic-bezier(0.53, 0.01, 0.36, 1.63);
    position: relative;
    display: flex;
    flex-direction: column;
}

#content:hover {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.z-depth-1 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.z-depth-2 {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.z-depth-3 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}
.z-depth-4 {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.z-depth-5 {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}
h1 { text-align: center; color: #546e7a; font-weight: 300; }
#clock { position: absolute; top: 20px; right: 20px; display: flex; align-items: center;}
#roundclock { height: 24px; width: 24px; border: 1px solid #313233; border-radius: 50%; margin-right: 8px; position: relative;}
#hours, #minutes, #seconds { position: absolute; height: 12px; top: 0; left: 12px; border-left: 1px solid black; transform-origin: bottom; }
#hours { border-color: blue; height: 6px; top: 6px;}
#minutes { border-color: red; height: 10px; top: 2px; }
#seconds { border-color: green; height: 11px; top: 1px; }
#myname { color: #e64a19; font-weight: 400; }
#avatar { border-radius: 50%; position: absolute; top: -60px; left: 30px; display: block; height: 120px; }
#social { display: flex; width: 50%; justify-content: space-between; margin: 0 auto 1.2em; font-size: 24px; }
#description { margin: auto; width: 74%; text-align: justify; }
a { color: #e64a19; }
a:visited { color: #f50057; }
.social-link { display: block; width: 48px; height: 48px; text-align: center; line-height: 48px; border-radius: 50%; transition: background .3s; }
.social-link:hover { background: #eceff1; }
.social-link:active { background: #cfd8dc; }

@media (max-height: 768px) {
    #content { height: 360px; }
}

@media (max-width: 880px) {
    #content { width: 480px; }
    #social { width: 80%; }
    h1 { margin-top: 80px; }
    #avatar { left: 50%; transform: translateX(-50%); }
    #description { width: 100%; }
}

@media (max-width: 520px) {
    #content, #content:hover { background: transparent; box-shadow: none; }
    #social { width: 80%; }
    #clock { top: auto; right: 10px; transform: scale(0.8); transform-origin: right; bottom: 10px; }
}

@media (max-height: 520px) {
    #content, #content:hover { background: transparent; box-shadow: none; }
    #avatar { position: static; margin: 0 auto; transform: none; }
    h1 { margin-top: 0; }
    #clock { top: auto; right: 10px; transform: scale(0.8); transform-origin: right; bottom: 10px; }
}

@media (max-height: 380px) {
    #avatar { height: 80px; margin-bottom: 16px; }
    #clock { top: 10px; bottom: auto; }
    #main { height: auto; padding-top: 16px; }
    #content { height: auto; }
    #description { margin-bottom: 1em; }
}