<div id="social">
  {{> social_link name="twitter" href="https://twitter.com/amitzur" title="Twitter" icon="icon-twitter" }}
  {{> social_link name="medium" href="https://medium.com/@amitzur" title="Medium" icon="icon-medium" }}
  {{> social_link name="github" href="https://github.com/amitzur" title="GitHub" icon="icon-github" }}
  {{> social_link name="linkedin" href="https://www.linkedin.com/in/amitzur/" title="LinkedIn" icon="icon-linkedin" }}
  {{> social_link name="blog" href="http://blog.amitzur.com" title="Blog" icon="icon-book-open" }}
</div>